/* add your css contents here! */
body{
    background-image: url('/static/Images/background.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

.navbar-dark .navbar-nav .nav-link{
    color:white;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
    color:indianred;
}

.border-active{
    border-color:indianred !important;
}
.border-solid
{
    border:1px solid;
}
.border-height
{
    /*min-height: 60vh;*/
}
.news-container
{
    padding:10px;
}
.btn_clear
{
    background-color: transparent;
    border: none;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  