{% extends "main.html" %}
{% set active_page = "About Us" %}

{% block title %}About Us{% endblock %}

{% block content %}
<!-- Put your html codes here! -->
<div class="container p-3 my-5 text-light">
    <h1>About Us</h1>
</div>



<div class="row m-5 p-4 text-light">
    <div class="col-12 px-0" style="height: 230px;">
        <div class="border-light border p-4" style="width: inherit;height: inherit;">
            <div class="container p-3">
                <h4>Our Project</h4>
                <p>Problem Statement:
                <br>&emsp; Many people are blindly investing or trading without any analysis of historical 	data or latest news which can lead to major losses. 
                <br>
                <br>IDEA:
                <br>&emsp; We utilise past data or latest news to predict if the cryptocurrency or stock 	will have a bull or bear trend in the future.  </p>      
            </div>
        </div>
    </div>
    <div class="col-8 px-0" style="height: 370px;">
        <div class="border-light border p-4" style="width: inherit;height: inherit;">
            <div class="container p-3">
                <h4>Facts</h4>
                <p>After a decade under 2.5%, inflation is now over 5%.
                <br><br>While some investments respond positively to inflation, many do not.
                <br><br>These investments can prepare you well for today's environment.
                <br><br>The annual inflation rate hovered below 2.5% for the entire 2010s, but it increased to over 5% in summer 2021 is likely here to stay.  Average costs are rising significantly for the first time in many people's investing careers, and some investments will respond better than others. 
                <br><br>By using these model, you will be ready for continued inflation throughout the 2021s.
                </p>
                
            </div> 
        </div>
    </div>
    <div class="col-4 px-0" style="height: 370px;">
        <div class="border-light border p-4" style="width: inherit;height: inherit;">
            <div class="container p-3">
                <h4>Feedback For Us</h4>
                <div class="form-group">
                    <label for="feedbackHeading">Heading</label>
                    <input type="text" class="form-control" id="feedbackHeading" placeholder="Enter Feedback Heading">
                </div>
                <div class="form-group">
                    <label for="feedbackComment">Comment</label>
                    <textarea class="form-control" id="feedbackComment" aria-describedby="feedbackHelp" placeholder="Enter Feedback"></textarea>
                    <small id="feedbackHelp" class="form-text text-muted">We'll never share your Feedback with anyone else.</small>
                </div>
                <button class="btn btn-danger" style="width: 100%;">Submit</button>
            </div> 
        </div>
    </div>
</div>
{% endblock %}
