{% extends "main.html" %}
{% set active_page = "View Stock" %}

{% block title %}News{% endblock %}

{% block content %}
<!-- Put your html codes here! -->
<div class="container p-3 my-5 text-light">
    <h1>Stock</h1>
    <canvas id="Stock_chart_alexi" width="400" height="400"></canvas>
    <script>
      var mychart = document.getElementById("Stock_chart_alexi").getContext("2d");
      var LineChartDemo = new Chart(mychart, {
          type: "line",
          data: {
            labels: {{ labels | safe }},
            datasets: [
                {
                label: "BitCoin Price Current",
                data: [{% for item in values[0][0:5] %}
                    {{ item }},
                {% endfor %}],
                borderColor: "rgb(75, 192, 192)",
                lineTension: 0.1
                },
                {
                label: "BitCoin Price Prediction",
                data: [NaN, NaN, NaN, NaN, {% for item in (values[0][4::]) %}
                    {{ item }},
                {% endfor %}],
                borderColor: "rgb(255, 192, 203)",
                lineTension: 0.1
                }
             ]
          },
          options: {
            responsive: false
          }
      })
    </script>
    <p>Predicted Price trend:</p>
    {% if values[0][9] > values[0][4] %}
    Increase
    {% else %}
    Decrease
    {% endif %}
</div>
{% endblock %}
